{% extends 'base.html' %}
{% block head %}
    <style>
        body {
            background-color: #faf8e1;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="dog-container">
        <div id="dog-title-box">
            <div id="dog-title">
                <h1>당신은 강아지 상입니다!</h1>
            </div>


            <div id="dog-attr">
                <h3>강아지상 특징</h3>
                <ul>
                    <li>얼굴형과 이목구비가 동글동글하다 !</li>
                    <li>눈꼬리가 처져서 선해 보인다 !</li>
                    <li>통통한 볼살 !</li>
                    <li>선하고 훈훈한 동안상 !</li>
                    <li><strong>결혼하고 싶은 훈남훈녀</strong>💑 </li>
                </ul>
            </div>
        </div>
        <div id="dog-youtube-box">
            <iframe width="720" height="400"
                    src="https://www.youtube.com/embed/mevUPNWuGKI"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div id="dog-sel-box">
            <div id="dog-sel-title">
                <h1>강아지상 연예인 🐶</h1>
            </div>
            <div class="img-container">
                <div class="imgBox">
                    <img src="../static/imgs/d2.jpg" alt="이미지1" id="btn1" >
                    <img src="../static/imgs/d3.jpg" alt="이미지2" id="btn2">
                    <img src="../static/imgs/d5.jpg" alt="이미지3" id="btn3" >
                    <img src="../static/imgs/d6.jpg" alt="이미지4" id="btn4" >
                </div>
                <div class="prev">
                    <img src="../static/imgs/slide-icon-1.jpg" alt="화살표1">
                </div>
                <div class="next">
                    <img src="../static/imgs/slide-icon-1.jpg" alt="화살표1">
                </div>
                <div class="btnBox">
                    <label data-index = '0'></label>
                    <label data-index = '1'></label>
                    <label data-index = '2'></label>
                    <label data-index = '3'></label>
                </div>
            </div>
        </div>
        <div id="dog-mbti-box">

                <h1>나는 무슨 강아지일까 !?</h1>

            <iframe src="https://dog-mbti.netlify.app/" width="100%" height="600px">
            </iframe>
        </div>
        <div id="dog-extends-content">
            <h1>강아지상 이상형 월드컵</h1>
            <p>사진을 클릭 해보세요✔ </p>
            <img id="dog-img" src="../static/imgs/pngegg.png">

        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
        const dogImg = document.getElementById('dog-img')
        dogImg.onclick =()=>{ window.location.href = 'https://www.piku.co.kr/w/9Mu7ze' }
        $(function() {

            var imgs = $('.imgBox img');
            var btns = $('.btnBox label');
            var toNext = $('.next img');
            var toPrev = $('.prev img');

            function setting(thing) {
                imgs.css({left : '-822px', opacity : 0});
                imgs.eq(thing).css({left : 0, opacity : 1});
                btns.css({backgroundColor : 'lightgray'});
                btns.eq(thing).css({backgroundColor : 'lightcoral'});
                btns.attr('g','0');
                btns.eq(thing).attr('g','1');
            }

            function init() {
                imgs.eq(0).css({left : 0});
                btns.eq(0).css({backgroundColor : 'lightcoral'});
            }

            init();



            var number = 0;
            setInterval(function() {
                for(let j = 0; j <= 3; j++){
                    if(imgs.eq(j).attr('onImg') == 'Y'){
                        var flag = 1;  // 속성값에 Y가 있다는 의미
                        break;
                    }
                    else
                        var flag = 0; // 속성값에 Y가 없다는 의미
                }
                if (flag == 0){ // Y가 있으면 setinterval을 if문을 안돌기 때문에 실행x
                    for(let i = 0; i <= 3; i++){
                        if(btns.eq(i).attr('g') == 1 ){
                            number = i;
                            btns.attr('g','0');
                        }
                    }
                    var next = (number + 1) % 4;
                    btns.css({backgroundColor : 'lightgray'});
                    imgs.css({left: '-822px', opacity : 0});
                    imgs.eq(next).css({left: 0, opacity : 1});
                    btns.eq(next).css({backgroundColor : 'lightcoral'});
                    number = next;
                }
            },4000)




            btns.click(function() {
                var index = $(this).attr('data-index');
                setting(index);
            });

            imgs.mouseenter(function() { // 마우스가 이미지에 들어오면 속성값을 만듦
                $(this).attr('onImg','Y');
            });

            imgs.mouseleave(function() { // 마우스가 이미지에서 나가면 속성값을 만듦
                $(this).attr('onImg','N');
            });

            toNext.click(function() { // 화살표를 누르면 현재 이미지에서 다음이미지로 넘어가는 기능
                for(var i = 0; i <= 3; i++){
                    if (imgs.eq(i).css('opacity') == 1){ // 현재 이미지의 기준을 opacity == 1인 것으로 잡음
                        var next = (i + 1) % 4;
                        setting(next);
                    }
                }
            });

            toPrev.click(function() {
                for(var i = 0; i <= 3; i++){
                    if (imgs.eq(i).css('opacity') == 1){
                        var prev = (i - 1)% 4 ;
                        if (prev < 0) prev = 3;
                        setting(prev);
                    }
                }
            });

        });


    </script>
{% endblock %}